{% extends 'base.html' %}
{% block sidebar %}
<ul>
    <li><a href="/activities/all">Activities</a></li>
</ul>
{% endblock %}

{% block content %}
    <h1>Here is the new activity.</h1>
    <title>{{ activity.title }}</title>
    <p>{{ activity.id }}</p>
    <p>{{ activity.title }}</p>
    <p>{{ activity.description }}</p>
    <p>{{ activity.likes }}</p>
    {% if activity.thumbnail %}
        <p><img src="/static/{{activity.thumbnail}}" width="100px"/></p>
    {% endif %}

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p> RANNNNNNNN</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            <p>{{ activity.likes}} people like this activity.</p>
            <p><a href="/activities/like/{{activity.id}}">Like</a></p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


