<!DOCTYPE html>
<html>
<head>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  <title>{% block title %}My Base Template{% endblock %}</title>
  <!--load staticfiles tag here-->
  {% load static %}  {# load static tag #}
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
  <style type="text/css">
    body {
      text-align: center;
    }
    #page {
      width: 960px;
      text-align: center;
      margin: 10px auto 20px auto;
      background-color: #f4f379;
    }
    #sidebar {
      float: left;
      width: 200px;
      border: 1px solid #000;
    }

    #content {
      float: left;
      widows: 600px;
      border: 1px solid #f4f379;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="page-header">
    <h1>Example Page header</h1>
  </div>
  <div id='page'>
    <div id='sidebar'>
    {% block sidebar %}
      <ul>
        <li><a href="/activities/all">Activities</a></li>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/accounts/login/">Log in</a></li>
      </ul>
    {% endblock %}
    </div>
    <div id=content>
      {% block content%}
        This is content page.
      {% endblock %}
    <img src="{% static 'assets/images/python-logo.png' %}" width="200"/>
    </div>
  </div>
  <div id="footer" class="container-brand-dark footer-surround footer-container">
    <div class="footer-content-container page-container-responsive">
    <div class="row row-condensed">
    <div class="col-md-3 col-md-offset-1">
    <!--USE JS to create Language selector and currency selector.-->
    <div class="language-curr-picker clearfix">
    <div class="select select-large select-block row-space-2">
    <select class="language-selector">
    </select>
    </div>
    <div class="select select-large select-block row-space-2">
    <select class="currency-selector">
    </select>
    </div>
    </div>
    </div>

    <div class="col-md-2 col-md-offset-1 hide-sm">
    <h5>Company</h5>
    <ul class="unstyled list-layout">
    <li><a href="/about/about-us" class="link-contrast">About</a></li>
    <li><a href="/jobs" class="link-contrast">Jobs</a></li>
    <li><a href="/press/news" class="link-contrast">Press</a></li>
    <li><a href="http://blog.airbnb.com" class="link-contrast">Blog</a></li>
    <li><a href="/help" class="link-contrast">Help</a></li>
    <li><a href="/policies" class="link-contrast">Policies</a></li>
    <li><a href="/disaster-response" class="link-contrast">Disaster Response</a></li>
    <li><a href="/terms" class="link-contrast">Terms &amp; Privacy</a></li>
    </ul>
    </div>

    <div class="col-md-2 hide-sm">
    <h5>Discover</h5>
    <ul class="unstyled list-layout">
    <li><a href="/trust" class="link-contrast">Trust &amp; Safety</a></li>
    <li><a href="/invite?r=6" class="link-contrast">Invite Friends</a></li>
    <li><a href="/wishlists/airbnb_picks" class="link-contrast">Airbnb Picks</a></li>
    <li><a href="/mobile" class="link-contrast">Mobile</a></li>
    <li><a href="https://www.airbnbnyc.com" class="link-contrast">Support NYC</a></li>
    <li><a href="/business-travel-management" class="link-contrast">Business Travel</a></li>
    <li><a href="/sitemaps" class="link-contrast">Site Map</a></li>
    </ul>
    </div>

    <div class="col-md-2 hide-sm">
    <h5>Hosting</h5>
    <ul class="unstyled list-layout">
    <li><a href="/host" class="link-contrast">Why Host</a></li>
    <li><a href="/hospitality" class="link-contrast">Hospitality</a></li>
    <li><a href="/help/responsible-hosting" class="link-contrast">Responsible Hosting</a></li>
    <li><a href="/home-safety" class="link-contrast">Home Safety</a></li>
    <li><a href="/stories" class="link-contrast">Stories</a></li>
    </ul>
    </div>
    </div>
    <div class="col-sm-12 row-space-4 row-space-top-4 show-sm">
    <ul class="unstyled list-layout list-inline text-center h5">
    <li><a href="/about/about-us" class="link-contrast">About</a></li>
    <li><a href="/jobs" class="link-contrast">Jobs</a></li>
    <li><a href="/press/news" class="link-contrast">Press</a></li>
    <li><a href="http://blog.airbnb.com" class="link-contrast">Blog</a></li>
    <li><a href="/terms" class="link-contrast">Terms &amp; Privacy</a></li>
    </ul>
    </div>

    <hr class="footer-divider row-space-top-8 row-space-4 hide-sm">

    <div class="social-media text-center">
    <h5 class="row-space-4 hide-sm">Join Us On</h5>
    <ul class="unstyled list-layout list-inline">
    <li>
    <a href="https://www.facebook.com/airbnb" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-facebook"></i>
    </a>
    </li>
    <li>
    <a href="https://plus.google.com/+airbnb" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-google-plus"></i>
    </a>
    </li>
    <li>
    <a href="https://twitter.com/airbnb" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-twitter"></i>
    </a>
    </li>
    <li>
    <a href="https://www.linkedin.com/company/airbnb" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-linkedin"></i>
    </a>
    </li>
    <li>
    <a href="https://www.pinterest.com/airbnb/" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-pinterest"></i>
    </a>
    </li>
    <li>
    <a href="http://www.youtube.com/airbnb" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-youtube"></i>
    </a>
    </li>
    <li>
    <a href="https://www.instagram.com/airbnb" class="link-contrast footer-icon-container" target="_blank">
    <i class="icon footer-icon icon-instagram"></i>
    </a>
    </li>
    </ul>
    </div>
    <div id="copyright" class="row-space-top-2 text-muted">
    © Airbnb, Inc.
    </div>
    </div>
  </body>
</html>