<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
    <title>{% block title %}My Base Template{% endblock %}</title>
    <script type="text/javascript" src="{{STATIC_URL}}assets/third_party_js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/third_party_js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/third_party_js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/third_party_js/backbone.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/views/footer_view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/views/activity_view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/models/activity.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/router.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}assets/third_party_css/bootstrap.min.css">

  </head>
  <body>
   <a href="/activities/all/#hello">Hello</a>
    <div class="page-header">
      <h1>Example Page header</h1>
    </div>
    <div id='page'>
      <div id='sidebar'>
      {% block sidebar %}
        <ul>
          <li><a href="/activities/all">Activities</a></li>
          <li><a href="/admin/">Admin</a></li>
          <li><a href="/accounts/login/">Log in</a></li>
        </ul>
      {% endblock %}
      </div>
      <div id=content>
        {% block content%}
          This is content page.
        {% endblock %}
      <img src="{% static 'assets/images/python-logo.png' %}" width="200" alt="My image"/>
      </div>
    </div>
    {% include "footer_template.html" %}
    {% include "activity_template.html" %}
    <script> 
      var router = new Backbone.Router();
    </script>
    <div id="activity-card"></div>
    <div id="footer" class="container-brand-dark footer-surround footer-container"></div>
  </body>
</html>